body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.pokemon-foto {
    width: 50px;
    height: 50px;
    border-radius: 10%;
}

.pokemon-nombre {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    text-align: center;
}

header {
    padding: 20px;
    text-align: center;
    background-color: rgb(234, 206, 241);
}

header .logo {
    font-size: 2em;
    font-weight: bold;
    color: rgb(7, 7, 7);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease;
}



header button {
    background-color: rgb(168, 15, 173);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header button:not(:disabled):hover {
    background-color: #c76cbb;
}

header .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .right p {
    margin: 0;
}

header .menu i {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.entrenador {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.entrenador h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.entrenador-foto {
    width: 100px;
    height: 200px;
}

.entrenador button, .entrenador ul, .entrenador img, .entrenador h2 {
    margin: 10px 0;
}

.entrenadores-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.botones-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

button {
    background-color: #bd6eac;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 0.8em;
    padding: 5px 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:not(:disabled):hover {
    background-color: #6b1c54;
}
